@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Lato-Regular.woff') format('woff'), 
        url('../fonts/Lato-Regular.woff2') format('woff2'), 
        url('../fonts/Lato-Regular.ttf') format('truetype'), 
        url('../fonts/Lato-Regular.otf') format('otf'), 
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}