html,
body {
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


input,
textarea {
    padding: 2px 5px;
}

.section {
    position: relative;
    padding: 50px 0px;
}

.container {
    margin: 0px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.cover-bg {
    object-fit: cover;
    width: 100%;
}

.menu-main-menu-container{
    float: right;
    padding: 10px 0px;
}

.site-header{
    padding: 20px 0px;
}

.widget-content{
    text-align: center;
}

.widget-icon{
    border: 10px solid #EDF5F9;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.widget-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    color: #2E6580;
}

.widget-breakline{
    height: 2px;
    width: 40%;
    background: #5bc0de;
    margin: 10px auto;
}

.widget-description{
    padding-top: 10px;
}

.about-page{
    background: #F0F1F1;
    color: #fff;
}

.dark-line{
    background: url(../img/lines-dark.png) repeat-x center;
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

.dark-line span{
    background: #294C5D;
    padding: 5px 15px;
    color: #FFF;
}

.dark-line h2{
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    clear: both;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.page-title{
    font-size: 22px;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3496DB;
    font-weight: bold;
}


.about-page p{
    color: #787878;
}

.about-widget-title{
    color: #777;
    font-weight: 700;
    letter-spacing: 1px;
}

footer{
    background: #055177;
    padding: 40px 0px;
    color: #ccc;
}

.footer-widget-title{
    color: #eee;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-breakline{
    height: 1px;
    background: #999;
    margin: 20px auto;
}

.footer-menu ul li{
    padding: 10px 0px;
    border-bottom: 1px solid #999;
}